---
import { Button } from "./ui/button";
---

<div class="flex h-screen w-full items-center justify-center">
  <div class="flex justify-center text-red-500">Hello World</div>
  <Button>Click Me</Button>
</div>
